#signup-form{
    border-radius: 22px;
    width: 40%;
    margin: auto;
    background: gainsboro;
    padding: 3%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: fit-content;
}